:root {
    --custom-primary-color: #239EFE;
  }
  
  .btn-custom-primary {
    background-color: var(--custom-primary-color);
    border-color: var(--custom-primary-color);
    color: #fff; /* Set text color to white or adjust as needed */
  }
  
  .btn-custom-primary:hover {
    background-color: #1a7cb5; /* Adjust the hover color if needed */
    border-color: #1a7cb5;
    color: #fff; /* Set text color to white or adjust as needed */
  }

  